
:root {
	--font-family: "IBM Plex Mono", monospace; /* DM Mono */
	--font-size: 14px;
	--background-color: rgb(0, 0, 0);
	--color: rgba(238,238,238);
  --hover-color: rgb(0, 0, 0);
  --shade-color: rgb(178, 178, 178);
  --hover-weight: 900;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
	line-height: var(--line-height);	
	color: var(--color);
}

html, body {
	height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.main-front {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('media/omoribgname.png');
  background-size: cover;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}


#fade {
  display: none;
  height: 100%;
}

/* main index */

.header {
	text-align: center;
  z-index: 2;
}

#big-uwu {
  font-size: .5vw;
  font-weight: 900;
  background-color: #000000;
}

.subtitle {
  margin-top: 10px;
	font-size: 1vw;
  background-color: #000000;
}

/* page index */

.index {
  margin: 8px;
  padding: 1.5rem;
  border-width: 4px;
  border-style: double;
  background-color: var(--background-color);
}

.indice {
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-decoration: none;
}

.indicer {
  margin: 20px 0;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-decoration: none;
  background-color: #b2b2b2;
}

.indicer * {
  font-weight: 900;
  color: #000;
}

.ndx {
  text-decoration: none;
}

.underline {
  font-size: 1.1rem;
  text-decoration: underline;
}

.sections {
  text-decoration: none;
}

.underline ul {
  line-height: 1.75em;
}

/* art index */

/* .list img {
  height: 20%;
  margin: 10px 0 10px 0;
  padding: 3px;
  border-width: 2px;
  border-style: double;
  display: flex;
  flex-direction: row;
  flex: auto;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */

.list-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.list-image > li {
  flex-basis: 350px; /* width: 350px; */
}

.list-image li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}

.footer {
  text-align: right;
  margin-right: 10px;
}

.arter  {
  text-align: center;
  font-size: 3rem;
  margin-top: 40px;
  margin-bottom: 15px;
}

.art-back {
  margin-top: -20px;

  margin-inline-start: 16px;
  
  padding-left: 5px;
  padding-right: 5px;
  background-color: #000;
}

.index-button-containerer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 16px;
  height: 3vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgb(178, 178, 178);
  font-weight: 900;
}

.index-button-containerer p {
  color: #000;
}

.index-button-containerer:hover, .index-button-containerer:hover p{
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  font-weight: 300;
}


/* performance-task-1 */

.pt {
  margin: 2rem;
  padding: 1rem;
  border-width: 4px;
  border-style: double;
  background-color: var(--background-color);
}

.h1 {
  font-size: 2rem;
}


/* performance-task-3 */

.pt3h1, h1 {
  margin: 1%;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  margin: 1%;
  font-size: 1.5rem;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px dotted rgb(255, 255, 255);
  padding: 8px;
  text-align: left;
}
th {
  background-color: #000000;
}
.mother {
  border-top: none;
}

/* double dot */

.return {
  text-decoration: underline;
}

/* about me */

.about-me {
  overflow:scroll;
}

.container {
  padding: 1.5rem;
  border-width: 4px;
  border-style: double;
  height: auto;
  overflow:scroll;
  background-color: var(--background-color);
  position: relative;

}

.about { 
  padding: 8px;
}

.about-top-name {
  left: 0;
  right: 0;
  margin-top: -10px;
  position: absolute;
  text-wrap: nowrap;
  text-align: center;
  z-index: 6;
}

.top-name-about {
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: rgb(0, 0, 0);
}

.top-name-about:hover {
  background-color: var(--shade-color);
  color: var(--hover-color);
  font-weight: var(--hover-weight);
}

.hello-span {
  background-color: var(--shade-color);
  color: var(--hover-color);
  font-weight: var(--hover-weight);
}

.portrait {
  padding: .5rem;
  border-style: double;
  border-width: 2px;
  float: left;
  margin-right: 2rem;
}

.face {
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}

figcaption {
  text-align: center;
}

.introduction {
  font-size: 1rem;
  text-indent: 50px;
  text-align: justify;
}

.accomp {
  list-style: armenian;
  margin-left: 400px;
}

.b-points {
  background-color: rgb(178, 178, 178);
  color: black;
  font-weight: 900;
}

.index-button {
  font-size: 15px;
  text-align: center;
  
  background-color: rgb(178, 178, 178);
  color: #000;
  font-weight: 900;
}

.index-button:hover {
  background-color: rgb(11, 11, 11);
  color: white;
  font-weight: 300;
}

.index-button-container {
 position: sticky;
 bottom: 0;
 left: 0;
 right: 0;
 margin: 16px;
}

:where(*,:before,:after){box-sizing:border-box;border-width:0;border-style:solid;border-color:#e5e7eb}
:where(html){line-height:1.5;-webkit-text-size-adjust:100%;-moz-tab-size:4;tab-size:4;font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"}
:where(body){margin:0;line-height:inherit}
:where(hr){height:0;color:inherit;border-top-width:1px}
:where(abbr:where([title])){text-decoration:underline dotted}
:where(h1,h2,h3,h4,h5,h6){font-size:inherit;font-weight:inherit}
:where(a){color:inherit;text-decoration:inherit}
:where(b,strong){font-weight:bolder}
:where(code,kbd,samp,pre){font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;font-size:1em}
:where(small){font-size:80%}
:where(sub,sup){font-size:75%;line-height:0;position:relative;vertical-align:baseline}
:where(sub){bottom:-.25em}
:where(sup){top:-.5em}
:where(table){text-indent:0;border-color:inherit;border-collapse:collapse}
:where(button,input,optgroup,select,textarea){font-family:inherit;font-size:100%;font-weight:inherit;line-height:inherit;color:inherit;margin:0;padding:0}
:where(button,select){text-transform:none}
:where(button,[type=button],[type=reset],[type=submit]){-webkit-appearance:button;background-color:transparent;background-image:none}
:where(:-moz-focusring){outline:auto}
:where(:-moz-ui-invalid){box-shadow:none}
:where(progress){vertical-align:baseline}
:where(::-webkit-inner-spin-button,::-webkit-outer-spin-button){height:auto}
:where([type=search]){-webkit-appearance:textfield;outline-offset:-2px}
:where(::-webkit-search-decoration){-webkit-appearance:none}
:where(::-webkit-file-upload-button){-webkit-appearance:button;font:inherit}
:where(summary){display:list-item}
:where(blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre){margin:0}
:where(fieldset){margin:0;padding:0}
:where(legend){padding:0}
:where(ol,ul,menu){list-style:none;margin:0;padding:0}
:where(textarea){resize:vertical}
:where(input::placeholder,textarea::placeholder){opacity:1;color:#9ca3af}
:where(button,[role=button]){cursor:pointer}
:where(:disabled){cursor:default}
:where(img,svg,video,canvas,audio,iframe,embed,object){display:block;vertical-align:middle}
:where(img,video){max-width:100%;height:auto}


@media only screen and (max-width: 807px) { 
  .portrait {
    float: none;
    margin: auto;
    width: 50%;
  }

  .hello {
    text-align: center;
  }

  .introduction {
    margin-top: 20px;
  }

  .accomp {
    list-style:armenian;
    margin-left: 40px;
  }
}
@media only screen and (max-width: 480px) {
  .about-top-name {
    left: 0;
    right: 0;
  }
}

@media only screen and (max-width: 400px) {
  .about-top-name {
    left: 0;
    right: 0;
  }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    margin: 0 0 1rem 0;
  }
  tr:nth-child(odd) {
    background: #000000;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #ffffff;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td.son:nth-of-type(1):before {
    content: "Province";
  }
  td.son:nth-of-type(2):before {
    content: "City/Municipality";
  }
  td.son:nth-of-type(3):before {
    content: "Name";
  }
  td.son:nth-of-type(4):before {
    content: "Sex";
  }
  td.son:nth-of-type(5):before {
    content: "Date of Birth";
  }
  td.son:nth-of-type(6):before {
    content: "Place of Birth";
  }
  td.son:nth-of-type(7):before {
    content: "Type of Birth";
  }
  td.son:nth-of-type(8):before {
    content: "Birth Order";
  }
  td.son:nth-of-type(9):before {
    content: "Weight at Birth";
  }
  td.son:nth-of-type(10):before {
    content: "Arbitrary Data";
  }

  td.mom:nth-of-type(1):before {
    content: "Maiden Name";
  }
  td.mom:nth-of-type(2):before {
    content: "Citizenship";
  }
  td.mom:nth-of-type(3):before {
    content: "Religion";
  }
  td.mom:nth-of-type(4):before {
    content: "Occupation";
  }
  td.mom:nth-of-type(5):before {
    content: "Age at Time of Birth";
  }
  td.mom:nth-of-type(6):before {
    content: "Residence";
  }

  td.dad:nth-of-type(1):before {
    content: "Name";
  }
  td.dad:nth-of-type(2):before {
    content: "Citizenship";
  }
  td.dad:nth-of-type(3):before {
    content: "Religion";
  }
  td.dad:nth-of-type(4):before {
    content: "Occupation";
  }
  td.dad:nth-of-type(5):before {
    content: "Age at Time of Birth";
  }
}
  /*

  /* desktop styles */
@media only screen and (min-width: 768px) { 
}


/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
* {
  scrollbar-width: thin;
  scrollbar-color: #828282 var(--background-color);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
	height: 5px;
	width: 5px;
  }
  *::-webkit-scrollbar-track {
	border-radius: 9px;
	background-color: var(--background-color);
  }
  
  *::-webkit-scrollbar-track:hover {
	background-color: var(--background-color);
  }
  
  *::-webkit-scrollbar-track:active {
	background-color: var(--background-color);
  }
  
  *::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #e8e8e8;
  }
  
  *::-webkit-scrollbar-thumb:hover {
	background-color: #C3C3C3;
  }
  
  *::-webkit-scrollbar-thumb:active {
	background-color: #484848;
  }