@media (max-width: 425px) {
    .back, .front, .und, i.fa-random, span.current-time, span.total-duration   {
        display: none;
    }
    .control-buttons {
        display: flex;
        align-items: center;
        gap: 2em;
    }
    .volume_slider {
        width: 80px;
    }
}

* {
    box-sizing: border-box;
    font-family: "DM Mono", monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
}


.header{
    margin-top: 2.5%;
    text-align: center;
}
