
:root {
	--font-family: "IBM Plex Mono", monospace; /* DM Mono */
	--font-size: 14px;
	--background-color: rgb(0, 0, 0);
	--color: rgba(238,238,238);
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
	line-height: var(--line-height);	
	color: var(--color) !important;
}

html, body {
	height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* main index */

.header {
	text-align: center;
}

.big-uwu {
  font-size: 10px;
  font-weight: 900;
}

.subtitle {
  margin-top: 10px;
	font-size: 15px;
}

/* page index */

.index {
  margin: 2.5rem;
  padding: 1rem;
  border-width: 4px;
  border-style: double;
}

.indice {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.underline {
  font-size: 1.1rem;
  text-decoration: underline;
}

.sections {
  text-decoration: none;
}

.underline ul {
  line-height: 1.75em;
}

/* art index */

.list img {
  height: 20%;
  margin: 10px 0 10px 0;
  padding: 3px;
  border-width: 2px;
  border-style: double;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer {
  text-align: right;
  margin-right: 10px;
}

/* performance-task-1 */

.pt {
  margin: 2rem;
  padding: 1rem;
  border-width: 4px;
  border-style: double;
}

.h1 {
  font-size: 2rem;
}

.outer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* performance-task-3 */

.pt3h1, h1 {
  margin: 1%;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  margin: 1%;
  font-size: 1.5rem;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px dotted rgb(255, 255, 255);
  padding: 8px;
  text-align: left;
}
th {
  background-color: #000000;
}
.mother {
  border-top: none;
}

/* double dot */

.return {
  text-decoration: underline;
}

/* about me */

.about {
  padding: 8px;
}

.about-outer {
  padding: 4px;
  border-width: 1px;
  height: 100%;
}

.about-inner {
  padding: 1.5rem;
  border-width: 1px;
  height: 100%;
}

.about-top-name {
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: rgb(0, 0, 0);
  top: 0; 
  left: 45%;
  position: absolute;
  text-wrap: nowrap;
  text-align: center;
}

.portrait {
  padding: .5rem;
  border-style: double;
  border-width: 2px;
  float: left;
  margin-right: 2rem;
}

.face {
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}

figcaption {
  text-align: center;
}

.introduction {
  font-size: 1rem;
  text-indent: 50px;
  text-align: justify;
}

:where(*,:before,:after){box-sizing:border-box;border-width:0;border-style:solid;border-color:#e5e7eb}
:where(html){line-height:1.5;-webkit-text-size-adjust:100%;-moz-tab-size:4;tab-size:4;font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"}
:where(body){margin:0;line-height:inherit}
:where(hr){height:0;color:inherit;border-top-width:1px}
:where(abbr:where([title])){text-decoration:underline dotted}
:where(h1,h2,h3,h4,h5,h6){font-size:inherit;font-weight:inherit}
:where(a){color:inherit;text-decoration:inherit}
:where(b,strong){font-weight:bolder}
:where(code,kbd,samp,pre){font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;font-size:1em}
:where(small){font-size:80%}
:where(sub,sup){font-size:75%;line-height:0;position:relative;vertical-align:baseline}
:where(sub){bottom:-.25em}
:where(sup){top:-.5em}
:where(table){text-indent:0;border-color:inherit;border-collapse:collapse}
:where(button,input,optgroup,select,textarea){font-family:inherit;font-size:100%;font-weight:inherit;line-height:inherit;color:inherit;margin:0;padding:0}
:where(button,select){text-transform:none}
:where(button,[type=button],[type=reset],[type=submit]){-webkit-appearance:button;background-color:transparent;background-image:none}
:where(:-moz-focusring){outline:auto}
:where(:-moz-ui-invalid){box-shadow:none}
:where(progress){vertical-align:baseline}
:where(::-webkit-inner-spin-button,::-webkit-outer-spin-button){height:auto}
:where([type=search]){-webkit-appearance:textfield;outline-offset:-2px}
:where(::-webkit-search-decoration){-webkit-appearance:none}
:where(::-webkit-file-upload-button){-webkit-appearance:button;font:inherit}
:where(summary){display:list-item}
:where(blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre){margin:0}
:where(fieldset){margin:0;padding:0}
:where(legend){padding:0}
:where(ol,ul,menu){list-style:none;margin:0;padding:0}
:where(textarea){resize:vertical}
:where(input::placeholder,textarea::placeholder){opacity:1;color:#9ca3af}
:where(button,[role=button]){cursor:pointer}
:where(:disabled){cursor:default}
:where(img,svg,video,canvas,audio,iframe,embed,object){display:block;vertical-align:middle}
:where(img,video){max-width:100%;height:auto}

@media only screen and (max-width: 768px) { 
  #big-uwu {
    font-size: 5px;
  }
  .about-top-name {
    left: 40%;
  }
}

@media only screen and (max-width: 620px) { 
  .portrait {
    float: none;
    margin: auto;
    width: 50%;
  }

  .hello {
    text-align: center;
  }

  .introduction {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .about-top-name {
    left: 35%;
  }
}

@media only screen and (max-width: 400px) {
  .about-top-name {
    left: 30%;
  }
}

  /* desktop styles */
@media only screen and (min-width: 768px) { 
}


/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
* {
  scrollbar-width: thin;
  scrollbar-color: #828282 #EDEDED;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
	height: 5px;
	width: 5px;
  }
  *::-webkit-scrollbar-track {
	border-radius: 9px;
	background-color: #EDEDED;
  }
  
  *::-webkit-scrollbar-track:hover {
	background-color: #EDEDED;
  }
  
  *::-webkit-scrollbar-track:active {
	background-color: #EDEDED;
  }
  
  *::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #828282;
  }
  
  *::-webkit-scrollbar-thumb:hover {
	background-color: #C3C3C3;
  }
  
  *::-webkit-scrollbar-thumb:active {
	background-color: #484848;
  }