@media (max-width: 425px) {
    .back, .front, .und, i.fa-random, span.current-time, span.total-duration   {
        display: none;
    }
    .control-buttons {
        display: flex;
        align-items: center;
        gap: 2em;
    }
    .volume_slider {
        width: 80px;
    }
}

* {
    box-sizing: border-box;
    font-family: "DM Mono", monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
}


.header{
    margin-top: 2.5%;
    text-align: center;
}


.spotify {
    position: fixed;    
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
}

.lyrics {
    margin-top: 2%;
    font-size: 12px;
    padding-bottom: 120px;
    columns: 35em auto;
    -webkit-columns: 35em auto;
    -moz-columns: 35em auto;
    column-gap: 5em;
    -webkit-column-gap: 5em;
    -moz-column-gap: 5em;
} 

pre {
    margin-left: 2em;
    margin-right: 2em;
    white-space: pre-line;
}

.music-player {
    --primary-color: #000;
    --secondary-color: #555;
    --green-color: #2d5;
    --padding: 1em;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: flex-end;
    height: 7rem;
    padding: var(--padding);
    color: var(--primary-color);
}

.image-container {
    --size: 4.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-bar {
    position: absolute;
    left: var(--padding);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 25%;
}

.song-infos {
    display: flex;
    align-items: center;
    gap: 1em;
}

.song-description {
    margin: 0.2em;
}

.title, .artist {
    color: var(--primary-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-decoration: none;
}

.title, .artist:visited {
    color: var(--primary-color);
    text-decoration: none;
}

.title, .artist:active {
    color: var(--primary-color);
    text-decoration: none;
}

.title:hover, .artist:hover {
    text-decoration: underline;
}

.artist {
    color: var(--secondary-color);
}

.icons {
    display: flex;
    gap: 1em;
}

i {
    color: var(--secondary-color);
}

i:hover {
    color: #111;
}

.progress-controller {
    width: 100%;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    color: var(--secondary-color);
}

.control-buttons {
    display: flex;
    align-items: center;
    gap: 2em;
}

.fa-random, .fa-step-backward, .fa-pause, .fa-play, .fa-step-forward, .fa-undo-alt {
    cursor: pointer;
}

.play-pause {
    display: inline-block;
    padding: 1em;
    color: var(--secondary-color);
    border-radius: 50%;
}

.play-pause:hover {
    transform: scale(1.1); 
    color: #111;
}

.progress-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}


#progress {
    -webkit-appearance: none;
    appearance: none;
    width: 30%;
    height: 4px;
    border-radius: 10px;
    background: #ccc;
    cursor: pointer;
}


#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #444;
    cursor: grab;
    border-radius: 100%;
}

#progress::-ms-fill-lower {
    background: #2d5;
    border-radius: 10px;
}

.progress-bar {
    height: 4px;
    border-radius: 10px;
    width: 30%;
    background-color: #ccc;
}

.progress {
    position: relative;
    height: 100%;
    width: 30%;
    background-color: var(--secondary-color);
    border-radius: 10px;   
}

.progress-bar:hover .progress{
    background-color: var(--green-color);
}

.progress-bar:hover .progress::after {
    content: "";
    position: absolute;
    --size: 1em;
    width: var(--size);
    height: var(--size);
    right: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: translate(50%, calc(2px - 50%));
}

.other-features {
    position:absolute;
    right: var(--padding);
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #ccc;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }
    
    .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #333;
    cursor: grab;
    border-radius: 100%;
    }
