/* TODO stack songlist and lyrics grids on low width screens */

* {
    box-sizing: border-box;
    --border-color: rgb(255, 255, 255);
    --background-color: #000;
    --accent-color: #fff;
    --icon-color: rgb(138, 138, 138);
    --slider-color: rgb(85, 85, 85);
    --primary-color: #ffffff;
    --secondary-color: #606060;
    --green-color: #2d5;
    --padding: 1em; 
    --slider-background: rgb(178, 178, 178);
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background-color: var(--background-color);
    overscroll-behavior: none;
    display: flex;
    height: 100%;
    line-height: normal;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    scrollbar-width: none;

    text-transform: none;
}


.song-main {
    height: 100%;
    position: relative;
    isolation: isolate;
    width: 100%;
    z-index: 0;
}

.top-container {
    padding-top: calc(24px + 16*2);
    display: grid;
    gap: 16px;
    grid-template-areas: 
        "left-sidebar lyrics"
        "now-playing-bar now-playing-bar"
  ;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    height: 100%;
    min-height: 100%;
    padding: 16px;
    position: relative;
    width: 100%;
    }

.nav-bar {
    height: 80%;
}

.library {
    gap: 16px;
    /* overflow: visible; */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;

    grid-area: left-sidebar;
    position: relative;
    width: 40vw;
    z-index: 4;
    background-color: var(--background-color);
}

.library {
    gap: 16px;
    height: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    /* user-select: none; */
    -webkit-box-flex: 1;
    flex: 1;
    border: 4px double var(--border-color);
    /* cursor: default; */
}

.library::before {
    content: "Library";
    position: absolute;
    margin: -10px 4px;
    background: var(--background-color);
    padding: 0 3px;
    z-index: 9;
}

.list-over {
    background-color: #000;
    height: 70vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 2px single #bdbdbd;
}

.song-list {
    transform: translateY(15px);
    overflow: auto;
    flex-grow: 1;
}

.song-list li:hover *{
    font-weight: 900;
    text-decoration: underline;
    cursor:pointer;
}

#unordered-song-list {
    
    inset: 10px;
    height: 100vh;
}

.box:hover img {
    opacity: 0.8;
}

.box {
    grid-template-rows: 48px;
    min-block-size: auto;
    padding: 4px 18px;

    display: grid;
    grid-gap: 16px 24px;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto 1fr auto;

    box-sizing: border-box;
    position: relative;
    margin-inline-start: 16px;
    margin-inline-end: 16px;
    color: inherit;
}

.button {
    position: absolute;
    z-index: 0;
    inset: 0px;

    background-color: transparent;
    border:none;
    width: 100%;
}

.image-sidearea {
    grid-column: 1;
}

.image-sidearea-container {
    display: flex;
    gap: 12px, 12px;
    align-items: center;
    height: 100%;
}

.list-image {
    border: 2px solid var(--border-color);
    width: 48px;
    min-width: 48px;
    height: 48px;
    min-height: 48px;
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px, 12px;
    grid-column-end: -1;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    color: inherit;
    text-wrap: nowrap;
    font-size: 1em;
}

.lyrics-outer {
    border: 4px double var(--border-color);
    background-color: var(--background-color);
    height: 100%;
    overflow: scroll;
}

.lyrics-outer::before {
    content: "Lyrics";
    position: absolute;
    margin: -10px 4px;
    background: var(--background-color);
    padding: 0 3px;
    z-index: 5;
}

.lyrics {
    margin-top: 5%;
    font-size: 12px;
    margin-bottom: 5%;
    columns: 35em 3;
    -webkit-columns: 35em 3;
    -moz-columns: 35em 3;
    column-gap: 5em;
    -webkit-column-gap: 5em;
    -moz-column-gap: 5em;
} 

pre {
    margin-left: 2em;
    margin-right: 2em;
    white-space: pre-line;
}

/* .spotify {
    position: fixed;    
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
} */

.spotify {
    border: 4px double var(--border-color);
    overflow: visible;
    position: fixed;
    bottom: 10px;
    right: 0px;
    grid-area: now-playing-bar;
    width: 100%;
    z-index: 6;
    background-color: var(--background-color)
}

.spotify::before {
    content: "Playing";
    position: absolute;
    margin: -10px 4px;
    background: var(--background-color);
    padding: 0 3px;
    z-index: 9;
}

.spotify-placeholder {
    height: 105px;
}

.music-player-container {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: auto;
    /* user-select: none; */
}

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 32px 8px !important;
    height: 96px;
    color: var(--primary-color);
    -webkit-box-align: center;
}

.song-bar {
    min-width: 180px;
    width: 30%;
    padding-inline-start: 8px;
}

.song-infos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.image-container {
    --size: 40px;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
    position: relative;
    margin-inline-end: 8px;
    border-radius: 4px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-description {
    margin: 0 8px;
}

.title, .artist {
    color: var(--primary-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-decoration: none;
}

.title, .artist:visited {
    color: var(--primary-color);
    text-decoration: none;
}

.title, .artist:active {
    color: var(--primary-color);
    text-decoration: none;
}

.title:hover, .artist:hover {
    text-decoration: underline;
}

.artist {
    color: var(--secondary-color);
}

i {
    color: var(--secondary-color);
}

i:hover {
    color: var(--primary-color);
}

.progress-controller {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--secondary-color);
}

.control-buttons {
    color: var(--secondary-color);
    margin-bottom: 0;
    gap: 16px;
    width: 100%;
    flex-flow: row nowrap;
    display: flex;
}

.player-controls-left {
    display: flex;
    flex: 1;
    gap: 16px;
    justify-content: flex-end;
}

i.fa-random {
    display: inline-flex;
    position: relative;
}

i.back {
    display: flex;
    height: 32px;
    min-width: 32px;
    position: relative;
    width: 32px;
    align-items: center;
    background: transparent;
    border: none;
    justify-content: center;
}

.fa-random, .fa-step-backward, .fa-pause, .fa-play, .fa-step-forward, .fa-undo-alt {
    cursor: pointer;
}

.random, .back, .front, .und, .play-icon {
    width: 32px;
    margin: auto;
    text-align: center;
}

.player-controls-right {
    display: flex;
    flex: 1;
    gap: 16px;
}

.play-pause:hover {
    transform: scale(1.1); 
    color: var(--primary-color);
}

.progress-container {
    position: absolute;
    /* left: 24px; */
    bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.current-time {
    z-index: 9;
    padding-bottom: 6px;
    pointer-events: none;
    text-align: right;
    min-width: 40px;
    mix-blend-mode: difference;
}

.current-time::after {
    content: " /";
}

.total-duration {
    mix-blend-mode: difference;
    padding-bottom: 6px;
}

.playback-progressbar {
    position: absolute;
    height: 12px;
    width: 98%;
}

#progress {
    opacity: 0;
    position: absolute;
    bottom: 0px;
    z-index: 6;
    width: 100%;
    height: 18px;
    /* transform: scale(1, 1.5); */
    transform-origin: bottom left;
}

.progress-bar {
    height: 100%;
    overflow: hidden;
    touch-action: none;
    width: 100%;
}

.progressbarbg {
    border-radius: 0;
    height: 16px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    background-color: var(--slider-background);
}

.sliderarea {
    overflow:hidden;
    height: 16px;
    width: 100%;
}

.fillcolor {
    background-color: var(--accent-color);
    border-radius: 0;
    height: 18px;
    transform: translateX(calc(-100% + var(--progress-bar-transform)));
    width: 100%;
}
.slider {
    box-shadow: none;
    height: 100%;
    border-radius: 0;

    cursor: pointer;
    left: var(--progress-bar-transform);
    margin-left: -4px;
    position: absolute;
    z-index: 100;

    background-color: var(--slider-color);
    border: 0;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
}

.other-features {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
    min-width: 180px;
}

.extra-controls {
    color: var(--secondary-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.volume-container {
    flex: 0 1 180px;
    margin-right: 8px;
    position: relative;
    align-items: center;
    display: flex;
}

.volume-percent {
    font-size: 14px; 
    padding-left: 10px; 
    min-width: 45px;
}

.returntopt {
    width: 32px;
    height: 32px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.volume-button {
    background-color: transparent;
    border: none;
    height: 32px;
    min-width: 32px;
    width: 32px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #ccc;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }
    
    .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #333;
    cursor: grab;
    border-radius: 100%;
}
    

@media (max-width: 800px) {
    .und, .random  {
        display: none;
    }
    .volume_slider {
        width: 80px;
    }
}

@media (max-width: 690px) {

    .progressbarbg {
        width: 100%;
    }
    .image-sidearea {
        display: none;
    }

    .header-area {
        grid-column-end:unset;
    }

    
    .box {
        margin-top: 10px;
        grid-template-columns: unset;
        grid-template-rows: 27px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }


    .button {
        margin-top: 5px;
        height: 100%;
    }

    .header-area {
        margin-top: 26px;
        margin-bottom: 26px;
        z-index:-1;
    }

    .top-container {
        grid-template-areas: unset;
        grid-template-columns: unset;
        height: unset;
        min-height: unset;
    }

    .nav-bar {
        height: 100%;
    }

    .library {
        width: 100%;
    }

    
    .song-list {
        transform: translateY(0px);
    }
}

@media (max-width: 610px) {


    .back, .front, .und, .artist:active   {
        display: none;
    }
    .control-buttons {
        display: flex;
        align-items: center;
        gap: 2em;
    }
    .volume_slider {
        width: 80px;
    }
    .song-bar, .other-features, .volume-container, .volume-button, .volume-percent, .current-time {
        min-width: none;
    }
}

@media (max-width: 485px) {

    .image-container {
        display: none;
        }
    .volume_slider {
        width: 80px;
    }
    .volume-percent {
        display: none;
        }

    .song-bar, .volume-container, .other-features {
        min-width: unset;
    }
}

@media (max-width: 450px) {


    .back, .front, .und, .random  {
        display: none;
    }

    .volume-container {
        flex: 0 1 120px;
    }

    .volume_slider {
        width: 60px;
    }

    .music-player-container {
        align-items: center;
    }
    .music-player {
    width: 100%;
    }

    .spotify-placeholder {
    height: 105px;
    }

    .column {
        text-wrap:stable;
        overflow: hidden;
    }

    

    .box {
        margin-top: 10px;
        grid-template-columns: unset;
        grid-template-rows: 63px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

}

@media (max-width: 345px) {
    .volume-button {
        display: none;
    }

    .volume_slider {
        display: none;
    }
}

@media (max-width: 300px) {
    .progress-container {
        width: 90%;
    }
}